<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>ASADO AL DISCO</h1>

    <p>Riquísimo platazo para compartir en familia. ¡Super abundante y sabroso! </p>

    <h2>INGREDIENTES</h2>

    <ul>

        <li>Asado 2 kg cortado de a dos costillas y 5 cm de largo aprox</li>
        <li>Ajo 10 dientes</li>
        <li>Cebolla 2 unid.</li>
        <li>Zanahoria 1 unid.</li>
        <li>Puerro 3 uni (la parte blanca y verde).</li>
        <li>Pimientos Rojos y verdes 1 unid.</li>
        <li>Choclo 2 unid.</li>
        <li>Ají molido y pimentón.</li>
        <li>Vino tinto</li>
        <li>Caldo de carne.</li>




    </ul>

    <ol>
        <li>Cortar las costillas de a 2 y de 5 cm aproximadamente</li>
        <li>En un disco bien caliente agregarle un poco de aceite de oliva y un diente de ajo partido a la mitad sellar las costillas, y pintarlas con chimichurri. Sellar bien las costillas de ambos lados.</li>
        <li> Una vez doradas retirar hacia los costados del disco y dejar un hueco en el medio donde va a quedar el jugo, y van a incorporar el puerro. Luego agregar la cebolla, los morrones y la zanahoria. Poner sal y pimienta a gusto y mezclar todas las verduras.</li>
        <li>Una vez que todo va marchando agregar el vino tinto y dejar evaporar mientras todo se va cocinando. Agregar caldo de carne casi cubriéndolo.</li>
        <li>Cocinar aprox por una hora, todo va a depender del tamaño en el cual
            cortamos la carne.</li>
        <li>Podemos acompañar este plato con unas mandiocas fritas, Pelar las mandiocas, luego hervirlas hasta que este tierna y luego freír.</li>

    </ol>

    <a href="https://cocinerosargentinos.com/carne/asado-al-disco-1">Ver receta en cocinerosargentinos</a>
    <a href="receta2.html">Receta FLAN CASERO</a>
    <a href="../../index.html">Volver al indice</a>





</body>
</html>