<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>FLAN</h1>

    <p>Sorprende a tu familia con el mejor flan casero </p>

    <h2>INGREDIENTES</h2>

    <ul>

        <li>Huevo 12 unid</li>
        <li>Azucar</li>
        <li>Leche condensada 1 lata </li>
        <li>Leche 1 litro</li>
        <li>Esencia de vainilla</li>

    </ul>

    <ol>
        <li>Para el caramelo a seco, colocar un poco de azúcar en la sartén y revolver mientras se disuelve, ir agregando más azúcar a medida que sea necesario hasta lograr el punto justo.</li>
        <li>Para el flan, en un bol batir los huevos con el azúcar hasta disolver, sumar la leche, leche condensada y la vainilla. Integrar.</li>
        <li>Para el armado, volcar el caramelo sobre el molde y luego el flan. Cocer al horno medio a baño María por 1 hora aprox.</li>
    
    </ol>

    <a href="https://cocinerosargentinos.com/postres/flan-con-leche-condensada">Ver receta en cocinerosargentinos</a>
    <a href="receta1.html">Receta ASADO</a>
    <a href="../../index.html">Volver al indice</a>





</body>
</html>